/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body{
  background-image: url('../src/assets/ford_mustang_12-wallpaper-1920x1080.jpg');
  color:black;
   }
placeholder{
  color:red;
}
